@import url(https://fonts.googleapis.com/css?family=Merriweather:900,300italic,300,700,700italic,900italic|Open+Sans:300italic,600italic,700,600,400,300);
@import 'reset';

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* 
=========
VARIABLES
=========
*/

// Typography

$font-body:     'Merriweather', serif;
$font-header:   'Open Sans', sans-serif;
$font-caption:  'Open Sans', sans-serif;

// Colors

$color-primary:  #198;

/* 
====
BASE
====
*/

* {
  @include vendor-prefix(font-smoothing, antialiased);
  // Optimize readability in all text, activating ligatures etc.
  text-rendering: optimizeLegibility;
  // This can eat processing resources - so don't do it on mobile devices.
  @media (max-device-width: 480px) {
    text-rendering: optimizeSpeed;
  }
}

body {
  font-family: $font-body;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 300;
  position: relative;
  color: #444;
  background: #F9F9F7;
}

 h2,  h3,  h4,  h5,
.h2, .h3, .h4, .h5 {
  font-family: $font-header;
  font-weight: 300;
  margin-bottom: 15px;
  text-rendering: optimizeLegibility;
  line-height: 1.15em;
}
h2, .h2 { 
  font-size: 50px; 
  font-weight: 900;
  letter-spacing: -2px;
}
h3, .h3 { 
  font-size: 36px; 
}

p {
  margin-bottom: 1.36363636em;
}

a {
  text-decoration: none;
  color: $color-primary;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.pull- {
  &right { float: right; }
  &left { float: left; }
}

/*
====
GRID
====
*/

.section{
  width: 100%;
  position: relative;
  clear: both;
}

.container {
  width: 80%;
  max-width: 650px;
  margin: 30px auto;
  clear: both;
  &.wide {
    max-width: 1200px;
  }
  &.top-padding {
    padding-top: 60px;
  }
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include vendor-prefix(transform, translate(-50%, -50%));
  width: 90%;
  max-width: 1200px;
}


/* 
==========
COMPONENTS
==========
*/


// Header

header {
  position: fixed;
  left:  0px;
  right: 0px;
  //height: 30px;
  z-index: 900;
  background: rgba(255,255,255,0.8);
  padding: 0 30px;
  
  font-family: $font-caption;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  line-height: 32px;

  h1 {
    font-weight: 900;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  
  .mailSignup {
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 2px;
    input {
      border: none;
      outline: none;
      line-height: 24px;
      padding: 0 10px;
      background: rgba(255,255,255,0.4);
      border-radius: 3px;
      &:active, &:focus { background: rgba(255,255,255,0.9); }
      font-family: $font-caption;
      
      &[type=submit] {
        background: rgba(255,255,255,1);
        letter-spacing: 2px;
        font-size: 8px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 900;
        -webkit-appearance: none;
      }
    }
  }
}


// Footer

footer {
  clear: both;
  padding: 30px 0;
  font-family: $font-caption;
  font-size: 12px;
}


// Post

article {
  border-bottom: 10px solid desaturate(lighten($color-primary, 50%),50%);
}

.header {
  & .header-small {
    @extend .container;
    padding-top: 60px;
  }
  & .header-large {
    min-height: 70vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    .preamble {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 0);

      p:last-child {margin-bottom: 0px;}
    }
  }
  & .header-fullscreen {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    .preamble {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 0);

      p:last-child {margin-bottom: 0px;}
    }
  }
}

.preamble {
  max-width: 650px;
  margin: 20px auto 30px;
  font-family: $font-header;
  font-size: 28px;
  line-height: 1.5;
  font-style: italic;
  color: #999;
}

.post-meta {
  font-size: 12px;
  font-family: $font-caption;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

img {
  &.alignright { 
    float: right; 
    margin: 7px 0 30px 30px;
  }
  &.alignleft { 
    float: left; 
    margin: 7px 30px 30px 0;
  }

  &.size-medium {
    max-width: 360px;
    height: auto;
    &.alignright { margin-right: -100px; }
    &.alignleft  { margin-left: -100px; }
  }
  &.aligncenter {
    clear: both;
    display: block;
    margin: 0px auto 30px;
    max-width: 100%;
    height: auto;
  }
}

.caption {
  padding: 10px 20px 0;
  background: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #FFF;
  font-family: $font-caption;
  font-weight: 400;
  font-size: 14px;
  @include vendor-prefix(transition, all 0.7s);
  @include vendor-prefix(transform, translate3d(0,100%,0));
}

// Cycle
.cycle {
  
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0px;
  
  &-fullscreen img.cycle-img {
    height:100vh; 
    width: auto;
    display: block;
  }
  
  &-halfscreen img.cycle-img {
    height: 50vh;
    width: auto;
    display: block;
  }
  
  &-slide.is-selected .caption { 
    @include vendor-prefix(transform, translate3d(0,0,0));
  }
}

// Image Section
.img-section-fullscreen {
  width: 100%;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
}